
<h3>This is <%= @post.title %> Post.</h3>
<label>Title</label>
<%= @post.title %><br/>
<label>Description:</label>
<%= @post.body %><br/>
<%= image_tag(@post.cover_filename_url)%>


<br/><br/>

<label>Publish Status</label>
<%= @post.publish %><br/>

<% if user_signed_in? %>
<%= link_to 'Edit Post', edit_post_path(@post) %>
<%=link_to 'Show all List', posts_path %>
<% end %>




